.header-dark {
  background:url(../../assets/img/bg1.png) #444;
  background-size:cover;
  padding-bottom:80px;
  height:100vh;
}
.navbar
{
  z-index:0;
}

.hero
{
  z-index:1;
  height:100%;
  text-align:center;
  display:flex;
  justify-content: center;
  align-items: center;
}
.hero-logo
{
  max-width:50%;
}
.hero-content
{
    margin:0;
}
@media (min-width:768px) {
  .header-dark {
    padding-bottom:120px;
  }
}

.header-dark .navbar {
  background:transparent;
  padding-top:5%;
  padding-bottom:0;
  color:#fff;
  border-radius:0;
  box-shadow:none;
  border:none;
}

@media (min-width:768px) {
  .header-dark .navbar {
    padding-top:1.5rem;
  }
}

.header-dark .navbar .navbar-brand {
  font-weight:bold;
  color:inherit;
}

.header-dark .navbar .navbar-brand:hover {
  color:#f0f0f0;
}

.header-dark .navbar .navbar-collapse span {
  margin-top:5px;
}

.header-dark .navbar .navbar-collapse span .login {
  color:#d9d9d9;
  margin-right:.5rem;
  text-decoration:none;
}

.header-dark .navbar .navbar-collapse span .login:hover {
  color:#fff;
}

.header-dark .navbar .navbar-toggler {
  border-color:#747474;
}

.header-dark .navbar .navbar-toggler:hover, .header-dark .navbar-toggler:focus {
  background:none;
}

.header-dark .navbar .navbar-toggler {
  color:#eee;
}

.header-dark .navbar .navbar-collapse, .header-dark .navbar .form-inline {
  border-color:#636363;
}

@media (min-width: 992px) {
  .header-dark .navbar.navbar .navbar-nav .nav-link {
    padding-left:1.2rem;
    padding-right:1.2rem;
  }
}

.header-dark .navbar.navbar-dark .navbar-nav .nav-link {
  color:#d9d9d9;
}

.header-dark .navbar.navbar-dark .navbar-nav .nav-link:focus, .header-dark .navbar.navbar-dark .navbar-nav .nav-link:hover {
  color:#fcfeff !important;
  background-color:transparent;
}

.header-dark .navbar .action-button, .header-dark .navbar .action-button:active {
  background:#208f8f;
  border-radius:20px;
  font-size:inherit;
  color:#fff;
  box-shadow:none;
  border:none;
  text-shadow:none;
  padding:.5rem .8rem;
  transition:background-color 0.25s;
}

.header-dark .navbar .action-button:hover {
  background:#269d9d;
}

.header-dark .navbar .form-inline label {
  color:#ccc;
}

.hero-title {
  color:#df4a54;
  letter-spacing:.1rem;
  font-size:3.5rem;
}
.hero-desc, .hero-tagline
{
  color:#F7F8F1;
}
.hero-tagline
{
  font-size:1.2rem;
  padding-top:1.35rem;
}
.hero-desc
{
    font-size:1.1rem;
}
.hero-cta
{
  margin-top:5%;
  background-color:#df4a54;
  border-color:#df4a54;
}
.hero-cta:hover
{
  background-color:#fc505b;
  border-color:#fc505b;
}
