.services
{
 min-height: 40%; display: flex; align-items: center; justify-content: center;
}
.services-title{
  font-weight:bold;
  text-align:center;
  margin-bottom:40px;
  padding-top:40px;
  color:#df4a54;
}
.services-list
{
  padding:0;
  margin:0;
  list-style:none;
  font-size:1.25rem;
  line-height:3rem;
  color:#7d8285;
}
